# --- CONFIGMAP KAFKA NAMESPACE ---
# Contiene i parametri di connessione NON sensibili.
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: kafka
data:
  # Hostname DNS interno fornito da K8s per lo StatefulSet MongoDB.
  MONGO_HOST: "mongo-mongodb-headless.kafka.svc.cluster.local"    
  MONGO_PORT: "27017"
  MONGO_DATABASE: "iot_network"       # Nome del DB applicativo
  MONGO_AUTH_SOURCE: "iot_network"    # DB dove è stato creato l'utente (db.createUser)
---
# --- CONFIGMAP METRICS NAMESPACE ---
# Duplicata nel namespace 'metrics' perché le ConfigMap non sono cross-namespace.
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: metrics
data:
  MONGO_HOST: "mongo-mongodb-headless.kafka.svc.cluster.local"
  MONGO_PORT: "27017"
  MONGO_DATABASE: "iot_network"
  MONGO_AUTH_SOURCE: "iot_network"