apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: kafka
data:
  MONGO_HOST: "mongo-mongodb-headless.kafka.svc.cluster.local"
  MONGO_PORT: "27017"
  MONGO_DATABASE: "iot_network"
  MONGO_AUTH_SOURCE: "iot_network"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: metrics
data:
  MONGO_HOST: "mongo-mongodb-headless.kafka.svc.cluster.local"
  MONGO_PORT: "27017"
  MONGO_DATABASE: "iot_network"
  MONGO_AUTH_SOURCE: "iot_network"