apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: consumer:latest
        imagePullPolicy: IfNotPresent

        # --- ENV VARS ---
        # Include sia la config di Kafka (Source) che di MongoDB (Sink)
        env:
        # 1. KAFKA CONFIG (Lettura eventi)
        - name: KAFKA_BOOTSTRAP
          value: "iot-sensor-cluster-kafka-bootstrap.kafka.svc.cluster.local:9093"
        - name: SASL_USERNAME
          value: "consumer-user"
        - name: SASL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: consumer-user
              key: password
        - name: KAFKA_CA
          value: "/etc/ssl/certs/kafka/ca.crt"
        
        # 2. MONGODB CONFIG (Scrittura dati)
        # Parametri non sensibili dalla ConfigMap 'mongodb-config'
        - name: MONGO_HOST
          valueFrom:
            configMapKeyRef:
              name: mongodb-config
              key: MONGO_HOST
        - name: MONGO_PORT
          valueFrom:
            configMapKeyRef:
              name: mongodb-config
              key: MONGO_PORT
        - name: MONGO_DATABASE
          valueFrom:
            configMapKeyRef:
              name: mongodb-config
              key: MONGO_DATABASE
        - name: MONGO_AUTH_SOURCE
          valueFrom:
            configMapKeyRef:
              name: mongodb-config
              key: MONGO_AUTH_SOURCE
        
        # Credenziali sensibili dal Secret 'mongo-creds'
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: MONGO_USER
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-creds
              key: MONGO_PASSWORD
        
        volumeMounts:
        - name: kafka-ca
          mountPath: /etc/ssl/certs/kafka
          readOnly: true
        
        # Risorse dimensionate per un worker di processing
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
      volumes:
      - name: kafka-ca
        secret:
          secretName: kafka-ca-cert