apiVersion: configuration.konghq.com/v1
kind: KongConsumer
metadata:
  name: iot-devices
  namespace: kafka
  annotations:
    kubernetes.io/ingress.class: kong
    konghq.com/credentials: iot-devices-apikey  # <-- AGGIUNGI QUESTA RIGA
username: iot-devices